body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.logo {
    height: 100vh;
}

.first {
    display: flex;
    height: 100vh;
}

.icons {
    position: absolute;
    top: 0;
    right: 0;
    width: 8%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    .fab {
        font-size: 200%;
    }
    .fab:hover {
        cursor: pointer;
    }
}

.search-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 60%;
    border-radius: 57px;
    border: 1px solid silver;
    padding-left: 35px;
    margin-bottom: 20px;
    input {
        box-sizing: border-box;
        height: 90%;
        width: 85%;
        border: 1px solid black;
        font-size: 200%;
        background-color: transparent;
        color:silver;
    }
    .fa-search {
        font-size: 200%;
        color: green;
    }
    .fa-search:hover {
        cursor: pointer;
    }
}

.splash-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.player-search-errors {
    margin-bottom: 50px;
    color: green;
}

.parent-container {
    margin: auto;
    width: 50%;
    .back:hover, .close:hover {
        cursor: pointer;
    }
}

.loading {
    color: green;
}

.getStreams {
    position: relative;
    width: 35%;
    span {
        margin-left: 5px;
    }
    span:hover {
        cursor: pointer;
        color: green;
    }
    .fa-tv {
        color: green;
    }
}

.input-container {
    box-sizing: border-box;
    position: absolute;
    justify-content: space-around;
    flex-direction: column;
    top: 40px;
    height: 200px;
    width: 300px;
    border-radius: 30px;
    padding: 10px;
    .un-field, .gt-field {
        box-sizing: border-box;
        border-radius: 7px;
        color: silver;
        padding-left: 7px;
        background-color: black;
        height: 20%;
    }
    .submit-stream {
        color: silver;
        align-self: center;
        border-radius: 7px;
        border: 1px solid silver;
        box-sizing: border-box;
        padding: 7px;
    }
}

.list-of-vids {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.g {
    border: 1px solid green;
    padding-bottom: 20px;
    border-radius: 20px;
}

.r {
    border: 1px solid red;
    padding-bottom: 20px;
    border-radius: 20px;
}

.videoBox {
    margin: 2.5px 0;
}

.videoBox:hover {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal2 {
    display: none;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: absolute;
    left: 50px;
    top: 10px;
}

.vframe {
   position: fixed;
}

.frame {
    position: relative;
}

.frame2 {
    position: relative;
}

.close {
    display: none;
    position: absolute;
    z-index: 101;
    top: 165px;
    right: 450px;
}

.close2 {
    display: none;
    position: absolute;
    z-index: 101;
    top: 165px;
    right: 450px;
}

.streamsBox {
    border: 1px solid silver;
    padding-bottom: 20px;
    border-radius: 20px;
    margin: 2.5px 0;
    h3:hover {
        cursor: pointer;
    }    
}

.gr {
    border: 1px solid green;
}

.re {
    border: 1px solid red;
}

.nostylist {
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.nostylist:hover, .close2:hover {
    cursor: pointer;
}

.load {
    color: green;
    text-align: center;
}

#placeholder {
    box-sizing: border-box;
    padding: 5px;
    color: green;
}